.venv
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/pushDataFunction.zip
terraform/pullDataFunction.zip

# Local csv files
fichier.csv
nouveau.csv

# Python cache
__pycache__/